
body{
	background: #F2F2F2;
	font-family: Helvetica, Arial, sans-serif;
	color: #555C60;
  }
  
  
  button{
	padding:10px;
	border-radius: 50px;
	margin:10px;
	&:hover{
	  border-color: #D0DEE5;
	}
  }
  a{
	color: #00BFFF;
  }
  
  .superBouton{
	padding: 20px;
	margin: 10px;
	background: #e5007e;
	display: inline-block;
	color: white;
	border-radius: 5px;
  }
  
  a .superBouton:hover, 
  a .zoneNormale:hover{
	box-shadow : 0 0 1px 1px white inset, 0 0 0px 0px #D0DEE5;
  }
  
  .zoneNormale{
	padding: 20px;
	margin: 10px;
	background: #D0DEE5;
	display: block;
  }
  
	// content
	.content{
	  &__text{
		width: 768px;
		margin: auto;
	  }
	}
  
  
@import "../src/Cursor.scss";
