// ----------------------
// MOUSE CURSOR
// -- bernarchri
// -- cf Cursor.js

.cursor{

  &__hiddenForAll{
    & * {
      cursor: none!important;
    }
  }


  &__wrapper{
  // outline: 1px solid;
  display: block;
  height:80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 10000000000;
  }

  &__pointer{
    background-color: #e5007e;
    width: 8px;
    height: 8px;
  }
  

  &__pointer,
  &__int,
  &__ext{
    position: fixed;
    display: block;
    content: ' ';
    border-radius: 50%;
    pointer-events: none;
     transition: transform 250ms ease;
  }
  
  &__int,
  &__ext{
    border-color:#e5007e;
    width: 0px;
    height: 0px;
  }
  
  
  // au clic
  &--click{
    
    .cursor__pointer{
      transform: scale(0.4);
      transition: transform 250ms ease;
    }
   
    .cursor__int{
      width: 50px;
      height: 50px;
      opacity: 0;
      transition: width 500ms ease 100ms, height 500ms ease 100ms, opacity 200ms ease-in 300ms;
      border: 1px solid #e5007e;
    }
    .cursor__ext{
      width: 60px;
      height: 60px;
      transition: width 500ms ease , height 500ms ease , opacity 200ms ease-in 100ms;
      opacity: 0;
      border: 1px solid #e5007e;
    }
   
  }
  
  //au rollOver
  &--link{
     .cursor__pointer{
      transition: all 250ms ease;
      width: 22px;
      height: 22px;
      mix-blend-mode: normal;
    }
    .cursor__ext{
      width: 30px;
      height: 30px;
      opacity: 1;
      // border: 1px solid #e5007e;
    }
  }
  // iframe
  &--hidden{
    display: none;
  }
}

